# macOS
.DS_Store

# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# Logs
*.log

# Environment / Secrets
.env
application-local.properties
application-local.yml
